<div class="jumbotron" style="background-image: linear-gradient(to right top, #0017ff, #004bff, #006aff, #0d84ff, #549bf8); ">
    <h1 style="color:white">Movies Web API: <br /> Hani Al-shafei</h1>
    <p class="lead" style="color:ghostwhite">Welcome, this is an example API that pulls movie data from a local SQL database and serves it to external clients via http GET request.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <center>
        <div>
            <h2>Getting started</h2>
            <p>View API tab for documentation.</p>
        </div>
    </center>
</div>

